html, body {
  min-height: 100%;
  min-width: 100%;
}

body{
  background: linear-gradient(135deg, rgba(30,215,96,1) 0%, rgba(0,0,0,1) 75%);
  background-repeat: no-repeat;
  min-height: 100%;
}
  
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  text-align: center;
  color: white;
}


.container.start {
  display: flex;
  justify-content  : center;
  align-content: center;
  height: auto;
}

.LoginButton {
  color: white;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.01);
  border-radius: 6%;
  align-self: center;
  margin-top: 200px;
  margin-bottom: 100%;
  width: 300px;
  max-width: 400px;
  height: 100px;
  box-shadow:  2px 4px 2px rgb(0, 0, 0);
}

.LoginButton:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.LoginButton:active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}




.results-box, .playlist-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    min-height: 400px;
    color: white;
  }
  
  .track-card {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
  }
  
  .track-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .add-button {
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  
  .add-button:hover {
    background-color: white;
    color: black;
  }



.middle-boxes{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;

}